<section>

  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <h3>About</h3>

        <p>Have you ever transcribed code from a paused video to see whether the solution it features fits your use case? If only you could highlight the code, copy it and paste it into your project to quickly see if it addresses your problem. With Fidd.io, now you can.</p>

        <p>Fidd.io was born from a desire to enrich community-generated answers to programming problems with acompanying audio and live-coding playback. Answers replay keystroke events synced to an audio recording, so users can interact with the text—change a function signature, copy it, then paste it wherever—at any point during playback, which makes fiddling with newfound solutions easy.</p>

        <p>And audio tracks allow users to talk through solutions as they are typing them out, adding greater granularity to explanations while saving users’ time. Now instead of typing out an answer on Stack Overflow, then creating the Plunker or JSBin to go along with it, you can talk through a solution, then copy and paste your code directly.</p>
      </div>
    </div>
  </div>

</section>