<section>
  <div class="container">
  <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="page-header">
          <h2>Record your Answer</h2>
          <p>Use the record button below to start recording. Then feel free to code away and explain your solution. You can pause and resume your recording as you see fit. When you're done, press the 'Stop' button to finish recording and provide a short description explaining your solution at a high level. After that press 'Submit' and you're done!</p>
        </div>
      </div> <!-- end of col-md-8 -->
    </div> <!-- end of row -->
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div
          ui-ace="answer.recordOptions"
          style="height: 300px;">
        </div>
        <button class="btn btn-info btn-sm"  ng-if="!answer.currentlyRecording()" ng-click="answer.startRecording()">Record</button>
        <button class="btn btn-warning btn-sm" ng-if="answer.currentlyRecording()" ng-click="answer.pauseRecording()">Pause</button>
        <button class="btn btn-danger btn-sm" ng-if="answer.currentlyRecording()" ng-click="answer.stopRecording()">Stop</button>
        <form novalidate style="margin-top: 8px;">
          <textarea class="form-control tealBorder" cols="30" rows="3" placeholder="Description" ng-model="answer.description"></textarea>
        </form>
        <button class="btn btn-success btn-xs pull-right" ng-click="answer.uploadChanges()">Submit</button>
      </div> <!-- end of col-md-8 -->
    </div> <!-- end of row -->
  </div> <!-- end of container-->
</section>
