<section>
  
  <h3>Browse Questions</h3>
  <span><input class="form-control" type="search" placeholder="Search" ng-model="search"></span>
  <hr>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="question in browse.questions | filter:search">
      <span><strong>{{ question.owner.name }}:</strong> {{ question.title }} –</span>
    Stars: {{ question.star_count }} –</span>
      <a ui-sref="question({ questionID: question.id })">Question {{ question.id }}</a>
    </li>
  </ul>
  <span ng-if="(browse.questions|filter:search).length === 0">There are no results matching your search</span>

</section>

