<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <h3>FAQ</h3>

        <h4>How do I use Fidd.io?</h4>

        <p>If you’re just searching for the solution to a problem, you’re free to browse questions and answers without signing up.</p>

        <p>If you’d like to help build the Fidd.io community&mdash;by submitting questions and answers, voting, commenting, etc.&mdash;you can <a ui-sref="login">sign up or log in</a> with GitHub or Facebook.</p>

        <h4>How do I submit a question?</h4>

        <p>Just sign up or log in and navigate to <a ui-sref="ask">Ask</a>. Then type up your question in the code editor, add a title that succinctly describes the problems you’re experiencing (i.e. “Integrating SocketIO to an angular app for http requests”) then give a detailed description of the problem and what you’ve already tried to solve it.</p>

        <p>Remember your audience: programmers, that is, folks with a keen attention to detail. Ensure that you’re questions are specific, provide relevant details and stay on a single topic.</p>

        <h4>How do I submit an answer?</h4>

        <p>Just sign up or log in and click "Answer" under the question you'll be answering. Then click “Record” and begin typing out your answer and explaining the steps as you go. If you need to stop for any reason, click “Pause” to suspend the recording. When you’re ready to begin again, click “Resume.”</p>

        <p>Once you’re ready to submit your answer, click “Submit.” You’ll then be directed to the your answer’s page. You can copy to the URL to share your answer with whomever. It will also appear on the list of answers on the question page, where other users can comment and vote on it.</p>

        <h4>What’s the best way to record an answer?</h4>

        <p>The best answers result from good planning and preparation. If your answer involves several detailed steps, it’s best to plan these out before you begin recording to maximize time and quality.</p>

        <p>If your answer requires longish sections of boilerplate code, consider having these queued up in a text editor and copying them in as you record. This saves unnecessary typing time and allows you to focus on the core of your response.</p>
      </div>
    </div>
  </div>
</section>