<section id="homeScreen">
  <div class="fixedBg" style="background-image: url('./img/p1.jpg');">
    <div class="container-fluid vCenter">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <img class="logo img-responsive" src="./img/fiddioLogoWhite.png" alt="fidd.io">
        <code class="" typewrite type-delay="70" cursor="|" blink-delay="1s" text=" > Bringing audio and live-coding playback to your JavaScript fiddles."></code>
      </div>
    </div>
  </div>
  </div>
  <div class="scrollingBg">
    <h3>About</h3>

    <p>Have you ever transcribed code from a paused video to see whether the solution it features fits your use case? If only you could highlight the code, copy it and paste it into your project to quickly see if it addresses your problem. With Fidd.io, now you can.</p>

    <p>Fidd.io was born from a desire to enrich community-generated answers to programming problems with acompanying audio and live-coding playback. Answers replay keystroke events synced to an audio recording, so users can interact with the text—change a function signature, copy it, then paste it wherever—at any point during playback, which makes fiddling with newfound solutions easy.</p>

    <p>And audio tracks allow users to talk through solutions as they are typing them out, adding greater granularity to explanations while saving users’ time. Now instead of typing out an answer on Stack Overflow, then creating the Plunker or JSBin to go along with it, you can talk through a solution, then copy and paste your code directly.</p>
  </div>
  <div class="fixedBg" style="background-image: url('./img/p2.jpg');">
    <h3>Team</h3>
  </div>
  <div class="scrollingBg">

  <p>Fidd.io is the brainchild of four software engineers who met and hacked on projects together at MakerSquare:</p>

  <div class="erik">
    <h5>Erik Eppel</h5>
    <p>INSERT BIO HERE</p>
    <ul>
      <li><a href="#"><i class="fa fa-github-alt"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
    </ul>
  </div>

  <div class="femi">
    <h5>Femi Saliu</h5>
    <p>INSERT BIO HERE</p>
    <ul>
      <li><a href="#"><i class="fa fa-github-alt"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
    </ul>
  </div>

  <div class="kamron">
    <h5>Kamron Batman</h5>
    <p>INSERT BIO HERE</p>
    <ul>
      <li><a href="#"><i class="fa fa-github-alt"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
    </ul>
  </div>

  <div class="thomas">
    <h5>Thomas Greenhalgh</h5>
    <p>INSERT BIO HERE</p>
    <ul>
      <li><a href="#"><i class="fa fa-github-alt"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
    </ul>
  </div>
  </div>
  <div class="fixedBg" style="background-image: url('./img/p3.jpg');">
    <h3>Contact</h3>
  </div>
  <div class="scrollingBg">
    <address>If you have any questions about Fidd.io, you can reach us at <a href="mailto:team@fidd.io?subject=Hello%20fidd.io!">team@fidd.io</a>.</address>
  </div>

</section>
<script type="text/javascript">
  $(document).ready(function(){
    function newDivHeight(){
      var viewportHeight = $(window).height();
      $('.fixedBg').height(viewportHeight);
      $('.scrollingBg').height(viewportHeight);
    }
    $(window).resize(function() {
      newDivHeight();
    });
    newDivHeight();
  });
</script>