<section id="homeScreen">
  <div style="background-color: #475759;">
    <div class="container-fluid">
    <div class="row vAlignChildren">
      <div class="col-md-5 col-md-offset-1 flex">
        <div class="vAlign">
          <img class="logo img-responsive" src="./img/fiddioLogo.svg" alt="fidd.io">
          <h5 class="whiteText code" typewrite type-delay="70" cursor="|" blink-delay="1s" text="> Ask. Watch. Learn. Code."></h5>
        </div>
      </div>
      <div class="col-md-5">
        <img class="logo img-responsive" src="./img/fiddioComputer.svg" alt="fidd.io">
      </div>
    </div>
  </div>
  </div>


  <div style="background-color:#627274;">
    <div class="container-fluid">
      <div class="row vAlignChildren">
        <div class="col-md-5 col-md-offset-1 flex">
          <img class="logo img-responsive vAlign" src="./img/fiddioIdeas.svg" alt="fidd.io">
        </div>
        <div class="col-md-5 whiteText">
          <h3>About</h3>

          <p>Have you ever transcribed code from a paused video to see whether the solution it features fits your use case? If only you could highlight the code, copy it and paste it into your project to quickly see if it addresses your problem. With Fidd.io, now you can.</p>

          <p>Fidd.io was born from a desire to enrich community-generated answers to programming problems with acompanying audio and live-coding playback. Answers replay keystroke events synced to an audio recording, so users can interact with the text—change a function signature, copy it, then paste it wherever—at any point during playback, which makes fiddling with newfound solutions easy.</p>

          <p>And audio tracks allow users to talk through solutions as they are typing them out, adding greater granularity to explanations while saving users’ time. Now instead of typing out an answer on Stack Overflow, then creating the Plunker or JSBin to go along with it, you can talk through a solution, then copy and paste your code directly.</p>
        </div>
      </div>
    </div>
  </div>


  <div style="background-color: #475759;">
    <div class="container">
      <div class="row vAlignChildren">
        <div class="col-md-5 col-md-offset-1 whiteText">
          <h3>Team</h3>
          <p>Fidd.io is the brainchild of four software engineers who met and hacked on projects together at MakerSquare:</p>

          <div class="row">
            <div class="col-md-6">
              <p class="tealText">Erik Eppel</p>
            </div>
            <div class="col-md-6 tealText">
              <a href="https://github.com/epps"><i class="fa fa-github-alt tealText"></i></a>
              <a href="https://www.linkedin.com/in/erikeppel"><i class="fa fa-linkedin-square tealText"></i></a>
            </div>
            <div class="col-md-12">
              <p>Erik is an eager language learner who’s turned his focus from Italian to JavaScript in the last couple of years. Ask him about his handwriting.</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <p class="tealText">Femi Saliu</p>
            </div>
            <div class="col-md-6">
              <a href="https://github.com/femi-saliu"><i class="fa fa-github-alt tealText"></i></a>
              <a href="https://www.linkedin.com/in/femisaliu"><i class="fa fa-linkedin-square tealText"></i></a>
            </div>
            <div class="col-md-12">
              <p>When he's not busy writing code, Femi finds himself working out or relaxing with video games. He also likes to draw and enjoys photography as well.</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <p class="tealText">Kamron Batman</p>
            </div>
            <div class="col-md-6 tealText">
              <a href="https://github.com/kamronbatman"><i class="fa fa-github-alt tealText"></i></a>
              <a href="https://www.linkedin.com/in/kbatman"><i class="fa fa-linkedin-square tealText"></i></a>
            </div>
            <div class="col-md-12">
              <p>When he’s not minifying code by hand, Kamron loves to hike and stir up custom cocktails and mixed drinks.</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <p class="tealText">Thomas Greenhalgh</p>
            </div>
            <div class="col-md-6 tealText">
              <a href="https://github.com/tgreenhalgh"><i class="fa fa-github-alt tealText"></i></a>
              <a href="https://www.linkedin.com/in/tgreenhalgh"><i class="fa fa-linkedin-square tealText"></i></a>
            </div>
            <div class="col-md-12">
              <p>Thomas is an avid swing dancer who's been bitten by the coding bug. He can be seen at the beach playing with his dog on the weekends.</p>
            </div>
          </div>
          <address>If you have any questions about Fidd.io, you can reach us at <a href="mailto:team@fidd.io?subject=Hello%20fidd.io!">team@fidd.io</a>.</address>
        </div>
        <div class="col-md-5 flex">
          <img class="logo img-responsive vAlign" src="./img/fiddioTeam.svg" alt="fidd.io">
        </div>
      </div>
    </div>
  </div>

</section>
