<section id="homeScreen">

  <div style="background-color: #475759;">
    <div class="container-fluid">
      <div class="row flex">
        <div class="col-xs-12 col-sm-5 col-sm-offset-1 vAlign">
          <div class=" hAlign">
            <img class="logo img-responsive" src="./img/fiddioLogo.svg" alt="fidd.io">
            <h5 class="whiteText centerText code" typewrite type-delay="70" cursor="|" blink-delay="1s" text="> Ask. Watch. Learn. Code."></h5>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5">
          <img class="logo img-responsive" src="./img/fiddioComputer.svg" alt="fidd.io">
        </div>
      </div> <!-- end of row -->
    </div> <!-- end of container-fluid -->
  </div> <!-- end fiddio logo section -->


  <div style="background-color:#627274;">
    <div class="container-fluid">
      <div class="row">
        <div class="flex col-xs-12 col-sm-5 col-sm-offset-1">
          <img class="logo img-responsive vAlign" src="./img/fiddioIdeas.svg" alt="fidd.io">
        </div>
        <div class="col-xs-12 col-sm-5 whiteText">
          <div>
            <h3>About</h3>

            <p>Have you ever transcribed code from a paused video to see whether the solution it features fits your use case?</p>

            <p>If only you could highlight the code, copy it and paste it into your project to quickly see if it addresses your problem.</p>

            <p>With Fidd.io, now you can watch people's responses to your coding problems.</p>
          </div>
        </div>
      </div> <!-- end of row -->
    </div> <!-- end of container-fluid -->
  </div> <!-- end about section -->


  <div style="background-color: #475759;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-offset-1 whiteText">
          <h3>Team</h3>
          <p>Fidd.io is the brainchild of four software engineers who met and hacked on projects together at MakerSquare:</p>

          <div class="row">
            <div class="col-xs-6">
              <p class="tealText">Erik Eppel</p>
            </div>
            <div class="col-xs-6 centerText">
              <a class="extraPadding" href="https://github.com/epps"><i class="fa fa-github-alt fa-2x tealText"></i></a>
              <a class="extraPadding" href="https://www.linkedin.com/in/erikeppel"><i class="fa fa-linkedin-square fa-2x tealText"></i></a>
            </div>
            <div class="col-xs-12">
              <p>Erik is an eager language learner who’s turned his focus from Italian to JavaScript in the last couple of years. Ask him about his handwriting.</p>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6">
              <p class="tealText">Femi Saliu</p>
            </div>
            <div class="col-xs-6 centerText">
              <a class="extraPadding" href="https://github.com/femi-saliu"><i class="fa fa-github-alt fa-2x tealText"></i></a>
              <a class="extraPadding" href="https://www.linkedin.com/in/femisaliu"><i class="fa fa-linkedin-square fa-2x tealText"></i></a>
            </div>
            <div class="col-xs-12">
              <p>When he's not busy writing code, Femi finds himself working out or relaxing with video games. He also likes to draw and enjoys photography as well.</p>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6">
              <p class="tealText">Kamron Batman</p>
            </div>
            <div class="col-xs-6 centerText">
                <a class="extraPadding" href="https://github.com/kamronbatman"><i class="fa fa-github-alt fa-2x tealText"></i></a>
                <a class="extraPadding" href="https://www.linkedin.com/in/kbatman"><i class="fa fa-linkedin-square fa-2x tealText"></i></a>
            </div>
            <div class="col-xs-12">
              <p>When he’s not minifying code by hand, Kamron loves to hike and stir up custom cocktails and mixed drinks.</p>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6">
              <p class="tealText">Thomas Greenhalgh</p>
            </div>
            <div class="col-xs-6 centerText">
              <a class="extraPadding" href="https://github.com/tgreenhalgh"><i class="fa fa-github-alt fa-2x tealText"></i></a>
              <a class="extraPadding" href="https://www.linkedin.com/in/tgreenhalgh"><i class="fa fa-linkedin-square fa-2x tealText"></i></a>
            </div>
            <div class="col-xs-12">
              <p>Thomas is an avid swing dancer who's been bitten by the coding bug. He can be seen at the beach playing with his dog on the weekends.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5 flex">
          <img class="logo img-responsive vAlign" src="./img/fiddioTeam.svg" alt="fidd.io">
        </div>
      </div> <!-- end of row -->
    </div> <!-- end of container-fluid -->
  </div> <!-- end of team section -->

  <div style="background-color:#627274;">
    <div class="container-fluid">
      <div class="row">
        <div class="flex col-xs-12 col-sm-5 col-sm-offset-1">
          <img class="logo img-responsive vAlign" src="./img/fiddioMail.svg" alt="fidd.io">
        </div>
        <div class="col-xs-12 col-sm-5 whiteText flex">

          <div class="vAlign TenPercentTop">
          <h3>Contact</h3>
            <p>If you have any questions about Fidd.io, you can reach us at <a class="tealText" href="mailto:team@fidd.io?subject=Hello%20fidd.io!">team@fidd.io</a>.</p>
            <p>Or <a class="tealText" href="https://github.com/fiddioteam/fiddio">fork the project on GitHub</a> to begin contributing.</p>
          </div>
        </div>
      </div> <!-- end of row -->
    </div> <!-- end of container-fluid -->
  </div> <!-- end contact section -->

</section>
