<section>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 centerText">
        <h3>Join the Fidd.io community!</h3>
        <p>Sign up to ask/answer questions, vote and bookmark your favorite answers</p>
        <br>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <div>
              <a href="api/gh" class="btn btn-social btn-github hAlign hidden-xs">
                <i class="fa fa-github"></i> <div>Log in with Github</div>
              </a>
              <a href="api/gh" class="btn btn-social-icon btn-github hAlign hidden-sm hidden-md hidden-lg">
                <i class="fa fa-github"></i>
              </a>
            </div>
            <div>
            - or -
            </div>
            <div>
              <a href="api/fb" class="btn btn-social btn-facebook hAlign hidden-xs">
                <i class="fa fa-facebook"></i> <div>Log in with Facebook</div>
              </a>
              <a href="api/fb" class="btn btn-social-icon btn-facebook hAlign hidden-sm hidden-md hidden-lg">
                <i class="fa fa-facebook"></i>
              </a>
            </div>
            <div>
            - or -
            </div>
            <div>
              <a href="api/mp" class="btn btn-social btn-instagram hAlign hidden-xs">
                <i><object type="image/svg+xml" data="/img/mks.svg" style="width: 20px"></object></i> <div>Log in with Makerpass</div>
              </a>
              <a href="api/mp" class="btn btn-social-icon btn-instagram hAlign hidden-sm hidden-md hidden-lg">
                <i><object type="image/svg+xml" data="/img/mks.svg" style="width: 20px"></object></i>
              </a>
            </div>
          </div>
        </div> <!-- end of row -->
      </div> <!-- end of col-xs-10 -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->

</section>