<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 centerText">
        <h3>Join the Fidd.io community!</h3>
        <p>Sign up to ask/answer questions, vote and bookmark your favorite answers</0>

        <div class="row">
          <div class="col-xs-4 col-xs-offset-4 loginButton">
            <a href="api/gh" class="linkReset whiteText">
              <p>Log in  with Github</p>
            </a>
          </div>
          <div class="col-xs-4 col-xs-offset-4 loginButton">
            <a href="api/fb" class="linkReset whiteText">
              <p>Log in  with Facebook</p>
            </a>
          </div>
          <div class="col-xs-4 col-xs-offset-4 loginButton">
            <a href="api/mp" class="linkReset whiteText">
              <p>Log in  with Makerpass</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>