<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
        <div class="col-md-1">
          <h2 class="vCenter"><stars question-id="{{ qv.question.id }}" style="display:inline-block;"></stars></h2>
        </div>
          <div class="col-md-11">
            <h3>
              <span> {{ qv.question.title }} - {{ qv.question.owner.name }} </span>
              <div class="pull-right">
                <button class="btn btn-primary btn-sm" ng-click="qv.answerQuestion()" style="display: inline-block">Answer</button>
              </div>
            </h3>

            <blockquote>{{ qv.question.body }}</blockquote>

          </div>
        </div>
        <div
          ui-ace="qv.displayOptions"
          style="height: 300px;">
        </div>

        <comment-section parent-id="{{ qv.question.id }}" parent-type="question" ng-transclude>
          <submit-comment parent-id="{{ qv.question.id }}" parent-type="question"></submit-comment>
          <comment-list parent-id="{{ qv.question.id }}" parent-type="question"></comment-list>
        </comment-section>

        <ul class="list-group">
          <li class="list-group-item" ng-repeat="answer in qv.answers">
            <span><strong>User:</strong> {{ answer.owner.name }}</span><br>
            <span><strong>Duration:</strong> {{ answer.duration | date:'mm:ss' }}</span><br>
            <span><strong>Votes:</strong> {{ answer.vote_count }}</span><br>
            <p>Description: {{answer.body}}</p>
            <button class="btn btn-primary btn-xs" ui-sref="watch({ questionID: {{ answer.question_id }}, answerID: {{ answer.id }}})">Watch Answer</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

