<section>
  <div>
    <div ng-if="userData.authenticated">

      <textarea class="form-control tealBorder"
                cols="30"
                rows="3"
                placeholder="Leave a comment"
                ng-model="commentBody">
      </textarea>
      <button ng-disabled="!commentBody"
              class="btn btn-primary btn-xs pull-right"
              ng-click="postComment()">Comment</button>

    </div>
    <div ng-if="!userData.authenticated">
      <button class="btn btn-primary btn-xs pull-right" ui-sref="login">Login to Comment</button>
    </div>
  </div>
</section>