<section>

  <h3>Team</h3>
  <p>Fidd.io is the brainchild of four software engineers who met and hacked on projects together at MakerSquare:</p>

  <div class="erik">
    <h5>Erik Eppel</h5>
    <p>INSERT BIO HERE</p>
    <ul>
      <li><a href="#"><i class="fa fa-github-alt"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
    </ul>
  </div>

  <div class="femi">
    <h5>Femi Saliu</h5>
    <p>INSERT BIO HERE</p>
    <ul>
      <li><a href="#"><i class="fa fa-github-alt"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
    </ul>
  </div>

  <div class="kamron">
    <h5>Kamron Batman</h5>
    <p>INSERT BIO HERE</p>
    <ul>
      <li><a href="#"><i class="fa fa-github-alt"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
    </ul>
  </div>

  <div class="thomas">
    <h5>Thomas Greenhalgh</h5>
    <p>INSERT BIO HERE</p>
    <ul>
      <li><a href="#"><i class="fa fa-github-alt"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
    </ul>
  </div>

</section>