<h1>Answer to Question {{ watch.answer.question.id }}</h1>
<sound-manager></sound-manager>
<div
  ui-ace="watch.playbackOptions"
  style="height: 300px;">
</div>

<span>{{ currentPostion || '00:00'}} / {{ currentDuration || '00:00'}}</span>
<div class="seekBase" seek-track style="height:30px; width: 50%; border: 1px solid #cccccc; margin: 5px 0 10px">
    <div class="seekLoad" ng-style="{width : ( progress + '%' ) }" style="height: 30px; width: 0; background-color: #E0EAF1"></div><br>
</div>

<button  ng-if="!watch.isPlaying" ng-click="watch.playRecording()">Play</button>
<button  ng-if="watch.isPlaying" ng-click="watch.pauseRecording()">Pause</button>

<votes response-id="{{ watch.answer.id }}">
